.background {
    background-color: #a4c9ff;
    min-height: fit-content;
}

.login-background {
    background-color: #fccb81;
    min-height: fit-content;
}

.register-background {
    background-color: #a4c9ff;
    min-height: fit-content;
}

.form-control {
    width: 300px;
}

.form-inline {
    align-content: center;
}