.logout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 380px;
    height: 50px;
    border-radius: 60px !important;
    color: white;
    font-size: 25px;
    margin: 10px;
}