.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e1e3eb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.sub-main {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 75%;
  padding-top: 30px;
  border-radius: 60px; 
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.register-form-control {
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  margin: 10px;
  border-color: black;
  border-radius: 60px;
  border-width: 2px;
  width: 50%;
}

.register-button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 380px;
  height: 50px;
  border-radius: 60px !important;
  color: white;
  font-size: 25px;
  margin: 10px;
}