.header-login-button {
    margin-right: 10px;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    border-radius: 60px !important;
    color: white;
    font-size: 25px;
    margin: 10px;
}

#shoppingCartDiv {
    height: 100%;
    margin-right: 3%;
    display: flex;
    gap: 10px;
    width: fit-content;
}

#shoppingCartDiv p {
    align-self: center;
    margin: 0;
}

.navDropdown {
    background-color: #ffffff;
}

.header-login-button {
    align-items: center;
    justify-content: center;
}