.productCartCard {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  width: 80%;
  border-radius: 25px;
  border: 1px solid black;
}

.productCartCard img {
  height: 100%;
}

.productCartQty p {
  display: inline;
}

.productCartCard input{
    background-color: transparent;
    border: 0;
    width: 3em;
}

.cart-card-remove-button {
  font-size: 1.5em;
  cursor: pointer !important;
  width: fit-content !important;
  height: fit-content !important;
}

.item-count-dropdown {
  border: 1px black !important;
  border-radius: 10px;
}